<files staff_portal.html>
AuthType Basic
AuthName "Staff Login"
AuthUserFile .htpasswd
ErrorDocument 500 /staff_portal.html
  Require valid-user
  Options -Indexes
  <Directory /home>
    AllowOverride All
</Directory>
</files>