<files staff_portal.html>
AuthType Basic
AuthName "Staff Login"
AuthUserFile .htpasswd
ErrorDocument 500 /staff_portal.html
  Require valid-user
 RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</files>